body {
  font-family: "Comic Sans MS", Arial;
  background: linear-gradient(#fce4ec, #e3f2fd);
  text-align: center;
}

.app {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

button {
  width: 90%;
  margin: 8px;
  padding: 14px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

.screen.hidden {
  display: none;
}

#question {
  font-size: 32px;
  margin: 20px;
}

#choices button {
  width: 40%;
}

#timer {
  font-size: 20px;
  margin-top: 10px;
}

#message {
  font-size: 22px;
  color: #4caf50;
}
